body {
    font-family: Arial;
    padding: 20px;
    max-width: 500px;
    margin: auto;
  }

  input,
  select,
  button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    font-size: 1em;
  }

  .resultado {
    margin-top: 20px;
    font-weight: bold;
  }

  .oculto {
    display: none;
  }